                                    /* Box sizing rules */
                                    
                                    *,
                                    *::before,
                                    *::after {
                                        box-sizing: border-box;
                                    }
                                    /* Remove default padding */
                                    
                                    ul[class],
                                    ol[class] {
                                        padding: 0;
                                    }
                                    /* Remove default margin */
                                    
                                    body,
                                    h1,
                                    h2,
                                    h3,
                                    h4,
                                    p,
                                    ul[class],
                                    ol[class],
                                    li,
                                    figure,
                                    figcaption,
                                    blockquote,
                                    dl,
                                    dd {
                                        margin: 0;
                                    }
                                    /* Set core body defaults */
                                    
                                    body {
                                        min-height: 100vh;
                                        scroll-behavior: smooth;
                                        text-rendering: optimizeSpeed;
                                        line-height: 1.5;
                                    }
                                    /* Remove list styles on ul, ol elements with a class attribute */
                                    
                                    ul[class],
                                    ol[class] {
                                        list-style: none;
                                    }
                                    /* A elements that don't have a class get default styles */
                                    
                                    a:not([class]) {
                                        text-decoration-skip-ink: auto;
                                    }
                                    /* Make images easier to work with */
                                    
                                    img {
                                        max-width: 100%;
                                        display: block;
                                    }
                                    /* Natural flow and rhythm in articles by default */
                                    
                                    article>*+* {
                                        margin-top: 1em;
                                    }
                                    /* Inherit fonts for inputs and buttons */
                                    
                                    input,
                                    button,
                                    textarea,
                                    select {
                                        font: inherit;
                                    }
                                    /* Remove all animations and transitions for people that prefer not to see them */
                                    
                                    @media (prefers-reduced-motion: reduce) {
                                        * {
                                            animation-duration: 0.01ms !important;
                                            animation-iteration-count: 1 !important;
                                            transition-duration: 0.01ms !important;
                                            scroll-behavior: auto !important;
                                        }
                                    }
                                    
                                    body {
                                        font-family: "Montserrat", Sans-serif;
                                        background: black;
                                    }
                                    /*/////////////////
                                ///////header//////
                                /////////////////*/
                                    
                                    header {
                                        background-color: black;
                                        font-family: "Montserrat", Sans-serif;
                                        border-bottom: #f18800 2px solid;
                                    }
                                    
                                    header .First {
                                        height: 80px;
                                        display: flex;
                                        align-items: center;
                                    }
                                    
                                    header .First a {
                                        color: white;
                                        text-decoration: none;
                                        font-size: 18px;
                                        display: block;
                                        height: 30px;
                                        padding-left: 10px;
                                        padding-right: 10px;
                                        font-weight: 400;
                                    }
                                    
                                    header .First a:hover {
                                        color: #f18800;
                                        border-bottom: #f18800 2px solid;
                                    }
                                    
                                    header .Second {
                                        display: flex;
                                        align-items: center;
                                    }
                                    
                                    header .Second img {
                                        height: 80px;
                                        padding-right: 20px;
                                    }
                                    
                                    header .Second .button {
                                        background-color: #f18800;
                                        padding: 5px 0px;
                                        color: white;
                                        font-weight: 100;
                                        font-size: 18px;
                                        border-radius: 3px;
                                        text-align: center;
                                        width: 150px;
                                        float: right;
                                    }
                                    
                                    .AllHeader {
                                        display: flex;
                                        max-width: 80%;
                                        margin: 0 auto;
                                        align-items: center;
                                        justify-content: space-between;
                                    }
                                    /*/////////////////
                                ///////start///////
                                /////////////////*/
                                    
                                    .start {
                                        height: 800px;
                                        background-image: url("images/body/automobile.jpg");
                                        background-size: 100% 100%;
                                    }
                                    
                                    .start h1 {
                                        max-width: 80%;
                                        margin: 0 auto;
                                        color: white;
                                        font-weight: 100;
                                        font-size: 70px;
                                        line-height: 100px;
                                        position: relative;
                                        top: 10%;
                                    }
                                    /*/////////////////
                                ///////slider//////
                                /////////////////*/
                                    
                                    .slick-list {
                                        overflow: hidden;
                                    }
                                    
                                    .slick-track {
                                        display: flex;
                                        height: 400px;
                                    }
                                    
                                    .slick-arrow {
                                        position: absolute;
                                        opacity: 0;
                                    }
                                    
                                    .slider {
                                        max-width: 80%;
                                        margin: 0 auto;
                                    }
                                    
                                    .slick-slide {
                                        padding: 50px;
                                    }
                                    
                                    .sliderHead {
                                        background-color: #151515;
                                    }
                                    /*/////////////////
                                //////servises/////
                                /////////////////*/
                                    
                                    .services {
                                        display: flex;
                                        flex-wrap: wrap;
                                        max-width: 80%;
                                        margin: 0 auto;
                                    }
                                    
                                    .service {
                                        width: 16%;
                                        border: gray 1px solid;
                                        margin: 2%;
                                        display: flex;
                                        flex-direction: column;
                                        height: 90%;
                                    }
                                    
                                    .service p {
                                        font-size: 20px;
                                        color: white;
                                        text-align: center;
                                        padding: 10px;
                                        margin-top: 10px;
                                        flex: 1 1 auto;
                                    }
                                    
                                    .service:hover {
                                        transform: rotateX(180deg);
                                        transition-duration: 1s;
                                        /*backface-visibility: hidden;*/
                                        background-color: red;
                                        z-index: -20;
                                    }
                                    
                                    .service .arrow {
                                        height: 20px;
                                        padding-right: 10px;
                                        position: relative;
                                        bottom: 10%;
                                    }
                                    
                                    .service .button {
                                        align-items: center;
                                        font-size: 12px;
                                        letter-spacing: .05em;
                                        font-weight: 600;
                                        text-transform: uppercase;
                                        padding: 12px 20px;
                                        font-family: 'Montserrat', sans-serif;
                                        background: black;
                                        color: white;
                                        border: 1px solid;
                                        cursor: pointer;
                                        transition: .3s linear;
                                        border-radius: 3px;
                                        display: flex;
                                        position: relative;
                                        width: 60%;
                                        align-self: baseline;
                                        margin-bottom: 30px;
                                        margin-top: 30px;
                                        left: 10%;
                                    }
                                    
                                    .service .button:hover {
                                        color: black;
                                        background: white;
                                    }
                                    
                                    .first:hover {
                                        z-index: 3;
                                    }
                                    
                                    .ret {
                                        background-color: red;
                                        height: 100px;
                                        position: relative;
                                        bottom: 300px;
                                        z-index: 2;
                                    }
                                    
                                    footer {
                                        color: white;
                                        display: flex;
                                        max-width: 80%;
                                        margin: 0 auto;
                                        font-size: 20px;
                                    }
                                    
                                    footer div {
                                        margin: 30px;
                                        display: flex;
                                        flex-direction: column;
                                    }
                                    
                                    footer div .head {
                                        font-size: 30px;
                                        margin-bottom: 30px;
                                    }
                                    
                                    footer p:before {
                                        content: "";
                                        background-image: url(images/footer/menu_icon.png);
                                        width: 30px;
                                        height: 30px;
                                        display: inline-block;
                                        background-repeat: no-repeat;
                                        position: absolute;
                                        margin-top: 8px;
                                        margin-left: -25px;
                                        margin-right: 0px !important;
                                    }