header {
    background-color: black;
    font-family: "Montserrat", Sans-serif;
    border-bottom: #f18800 2px solid;
}

header .First {
    height: 80px;
    display: flex;
    align-items: center;
}

header .First a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 400;
}

header .First a:hover {
    color: #f18800;
    border-bottom: #f18800 2px solid;
}

header .Second {
    display: flex;
    align-items: center;
}

header .Second img {
    height: 80px;
    padding-right: 20px;
}

header .Second .button, .nav .button {
    background-color: #f18800;
    padding: 5px 0px;
    color: white;
    font-weight: 100;
    font-size: 18px;
    border-radius: 3px;
    text-align: center;
    width: 150px;
    float: right;
}

.AllHeader {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
/*/////////////////
///////start///////
/////////////////*/

.start {
    height: 650px;
    background-image: url("../images/body/sec.jpg");
    background-size: 100% 100%;
}

.start h1 {
    max-width: 80%;
    margin: 0 auto;
    color: white;
    font-weight: 100;
    font-size: 40px;
    line-height: 80px;
    position: relative;
    top: 20%;
    opacity: 1;
}
@media screen and (max-width: 1200px){
    .AllHeader{
        max-width: 100%;
    }
    header .Second img{
        height: 50px;
    }
}
@media screen and (max-width: 950px){
    header .number{
        display: none;
    }
}
@media screen and (max-width: 800px){
    header .Second img{
        display: none;
    }

}
@media screen and (max-width: 600px){
    .AllHeader{
        display: none;
    }
    header{
        border-bottom: 0px;
    }
    .nav-toggle{
        background: none !important;
    }
    .start{
        background-image: url("../images/back_mobail.jpg") !important;
    }
    .start h1{
        font-size: 25px;
        display: block;
        top: 200px;
        color: #FDF4E3;
        font-weight: 500;
        line-height: 60px;
    }
}

/* @media screen and (max-width: 600px){
    .First{
        height: 100% !important;
        flex-direction: column;
    }
    .First a{
        display: block !important;
        width: 100%;
        font-size: 26px !important;
        margin-top: 15px; 
    }
    header{
        height: 100%;
    }
    .AllHeader{
        flex-direction: column;
        padding: 20px;
    }
    header .button{
        margin-top: 15px;
    }
} */