.sliderReviews {
    max-width: 1920px;
    margin: 0 auto;
}

.sliderReviews .slick-track {
    display: flex;
    justify-content: space-evenly;
}
.sliderReviews .slick-list {
    overflow: hidden;
}

.sliderReviews .slick-dots {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sliderReviews .slick-dots li {
    list-style: none;
}

.sliderReviews .slick-dots button {
    font-size: 0;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
}

.sliderReviews .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid #fff;
}

.ReviewsPlase {
    width: 78%;
    background-color: white;
    align-items: center;
    border: 2px solid #f18800;
    display: flex;
    flex-direction: column;
}

.ReviewsPlase p.reviews {
    text-align: center;
    padding-top: 10%;
    padding-left: 20px;
    padding-right: 20px;
}

.ReviewsPlase p.reviews {
    color: grey;
}

.Person img {
    height: 10px;
    position: relative;
    bottom: 2px;
    left: 10px;
}

.Person {
    display: flex;
    align-items: flex-end;
    padding-top: 5%;
    padding-bottom: 3%;
}

p.Name {
    font-size: 10px;
    color: black;
    font-weight: 900;
}

.Reviews.slick-slide {
    opacity: 0.4;
}

.Reviews.slick-center {
    opacity: 1;
    transform: scale(1.1);
    transition-duration: 500ms;
}
.Reviews{
    position: relative;
    right: -0.8%;
}
@media screen and (max-width: 1920px){
    .sliderReviews {
        max-width: 80%;
    }
}
@media screen and (max-width: 1200px){
    .sliderReviews {
        max-width: 100%;
        margin: 0 auto;
    }    
}
@media screen and (max-width: 900px){
   .sliderReviews{
       display: none;
   }
}